<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ternaryop.phototumblrshare"
    android:versionCode="6"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ternaryop.phototumblrshare.activity.PhotoPreferencesActivity"
            android:label="@string/settings" />
        <activity android:name="com.ternaryop.phototumblrshare.activity.ScheduledListActivity" />
        <activity android:name="com.ternaryop.phototumblrshare.activity.TagPhotoBrowserActivity" />
        <activity android:name="com.ternaryop.phototumblrshare.activity.ImageViewerActivity" />
        <activity android:name="com.ternaryop.phototumblrshare.activity.ImagePickerActivity" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name="com.ternaryop.phototumblrshare.activity.DraftListActivity" >
        </activity>
        <activity
            android:name="com.ternaryop.phototumblrshare.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="phototumblrshare" />
            </intent-filter>
        </activity>
    </application>

</manifest>