<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    package="com.ternaryop.photoshelf"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PhotoShelfApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        tools:replace='android:icon'
        android:label="@string/app_name"
        android:theme="@style/Theme.PhotoShelf" >
        <activity android:name="com.ternaryop.photoshelf.activity.TagPhotoBrowserActivity" />
        <activity android:name="com.ternaryop.photoshelf.activity.ImageViewerActivity" />
        <activity android:name="com.ternaryop.photoshelf.activity.ImagePickerActivity" >
            <intent-filter android:label="A Photo Shelf" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/app_name_share_label" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ternaryop.photoshelf.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="photoshelf" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ternaryop.photoshelf.activity.BirthdaysPublisherActivity"
            android:parentActivityName="com.ternaryop.photoshelf.activity.MainActivity" >
        </activity>

        <service android:name="com.ternaryop.photoshelf.service.BootService" />
        <service android:name="com.ternaryop.photoshelf.service.PublishIntentService" />

        <receiver android:name="com.ternaryop.photoshelf.service.BootServiceReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Dropbox -->
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboard">
            <intent-filter>
                <data android:scheme="db-k086b8px5h6n7bx" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
