<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ternaryop.photoshelf"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".PhotoShelfApplication"
        android:allowBackup="false"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.PhotoShelf">
        <activity android:name=".activity.TagPhotoBrowserActivity"/>
        <activity android:name=".activity.ImageViewerActivity"/>
        <activity android:name=".activity.ImagePickerActivity">
            <intent-filter android:label="A Photo Shelf">
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name_share_label">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="photoshelf"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activity.BirthdaysPublisherActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <service android:name=".service.PublishIntentService"/>
        <service android:name=".service.CounterIntentService"/>

        <receiver android:name=".service.AlarmBroadcastReceiver"/>
        <receiver android:name=".service.BootServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.notification.NotificationUtil$ClearBirthdayNotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ternaryop.photoshelf.birthday.clear"/>
            </intent-filter>
        </receiver>

        <!-- Dropbox -->
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-k086b8px5h6n7bx"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.ImportIntentService"
            android:exported="false">
        </service>
    </application>

</manifest>